<article class="index-article"> 
<div class="article-meta">
	<time datetime="<%= date_xml(post.date) %>">
		<%= date(post.date) %>
	</time>
</div>
<div class="article-inner">
	<% if(post.title){ %>
	<header class="article-header">
		<h1 itemprop="name">
		<a href="<%- url_for(post.path) %>">
		<%= post.title %>
		</a>
		</h1>
	</header>
	<% } %>
	<div class="article-entry">
		<% if(post.excerpt){ %>
		<%= post.excerpt %>
		<% if(theme.excerpt_link){ %>
		<p class="article-more-link">
			<a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
		</p>
		<% } %>
		<% } else { %>
			<% var br=strip_html(post.content) %>
			<%- truncate(br,{length: theme.excerpt_length})%>
			<% if(theme.excerpt_link){ %>
			<p class="article-more-link">
			<a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
			</p>
			<% } %>
			<% } %>
	</div>
</div>
	<% if(post.categories && post.categories.length){ %>
	<div class="article-category">
		<%- list_categories(post.categories,{
		show_count: false,
		class: 'article-category',
		style: 'none',
		separator: '►'
	}) %>
	</div>
<%　}　%>
</article>
